.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 40px;
  margin-bottom: 40px;
}

.auth_button {
  padding: 5px 24px;
}

.success-message {
  background: var(--bg-succes);
  color: var(--text-succes);
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0;
  border: var(--border-succes);
  text-align: center;
  font-weight: 500;
  animation: slideIn 0.3s ease;
}
