.profile{
  display: flex;
  flex-direction: column;
}
/* 
.profile img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.profile__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
