.product__card {
  display: flex;
  flex-direction: column;
  border: var(--border-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  }
}

.product__inner h3 {
  margin: 0;
}

.product__inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.product_button {
  height: 30px;
}
