@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

body {
  color: var(--text-black);
  font-family: "Inter", sans-serif;
  background: var(--bg-gray);
}

input,
label,
button {
  transition-duration: 0.2s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  width: 100%;
}
