@media (max-width: 920px) {
  .container {
    padding: 10px 50px;
  }

  .header {
    padding: 10px 50px;
    display: flex;
    gap: 20px;
  }

  .header h1 {
    font-size: 24px;
  }

  .search input {
    padding: 5px 8px;
  }

  .header__nav nav {
    gap: 20px;
  }

  .header__nav img {
    height: 24px;
    width: 24px;
  }

  .price__block {
    flex-direction: column;
    gap: 5px;
  }

  .main__filter {
    display: none;
  }

  .main__grid {
    width: 100%;
  }

  .button_sort {
    display: flex;
    align-items: center;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .header__nav nav {
    gap: 10px;
  }

  .main__inner {
    gap: 25px;
  }

  .main__filter {
    padding: 15px;
  }

  .main__filter p {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .main__filter input {
    padding: 2px 8px;
  }

  .main__block li {
    font-size: 14px;
  }

  .main__grid {
    padding: 20px;
  }

  .button {
    padding: 0px 15px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 5px 25px;
  }

  .header {
    padding: 5px 25px;
  }

  .header__search input {
    display: none;
  }

  .header__search button {
    display: none;
  }

  .header__navigate {
    display: none;
  }

  .product__card img {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .header__burger button {
    display: block;
  }
}

@media (max-width: 450px) {
  .main__sort {
    flex-direction: column;
    align-items: start;
    font-size: 14px;
  }

  .badge {
    display: none;
  }

  .footer {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .main {
    margin-top: 10px;
  }

  .product__card img {
    height: 150px;
    width: 150px;
  }

  .product__inner {
    padding: 8px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
