.main {
  margin-top: 30px;
  padding: 20px 100px;
}

.main__sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.main__sort p {
  font-size: 20px;
}

.main__sort select {
  border: var(--border);
  border-radius: var(--border-radius-input);
  padding: 5px;
}

.button_sort{
  display: none;
}

.main__inner {
  display: flex;
  gap: 50px;
  width: 100%;

  justify-content: center;
}

.main__filter {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg-white);
  width: 25%;
  padding: 20px;
  gap: 20px;
  height: 100%;
}

.main__filter p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.main__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__item {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-left: 20px; */
}

.main__item input {
  flex-shrink: 0;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  border: var(--border);
  border-radius: var(--border-radius-input);
  background: var(--bg-gray);

  &:checked {
    background-color: var(--red-hover);
    border: var(--border-red);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16px;
    height: 16px;
    background: url("../assets/icon-check_white.svg") center/contain no-repeat;
  }
}

.price__block {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.main__grid {
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg-white);
  width: 75%;
  padding: 50px;
}

.grid__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  border: var(--border-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;

  &:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    scale: 1.01;
  }
}

.product__inner h3 {
  margin: 0;
}

.product__inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.product_button {
  height: 30px;
}

@media (max-width: 920px) {
  .container {
    padding: 10px 50px;
  }

  .header {
    padding: 10px 50px;
    display: flex;
    gap: 20px;
  }

  .header h1 {
    font-size: 24px;
  }

  .search input {
    padding: 5px 8px;
  }

  .header__nav nav {
    gap: 20px;
  }

  .header__nav img {
    height: 24px;
    width: 24px;
  }

  .price__block {
    flex-direction: column;
    gap: 5px;
  }

  .main__filter{
    display: none;
  }

  .main__grid{
    width: 100%;
  }

  .button_sort{
    display: flex;
    align-items: center;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .header__nav nav {
    gap: 10px;
  }

  .main__inner {
    gap: 25px;
  }

  .main__filter {
    padding: 15px;
  }

  .main__filter p {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .main__filter input {
    padding: 2px 8px;
  }

  .main__block li {
    font-size: 14px;
  }

  .main__grid {
    padding: 20px;
  }

  .button {
    padding: 0px 15px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 5px 25px;
  }

  .header {
    padding: 5px 25px;
  }

  .header__search{
    display: none;
  }

  .product__card img{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 450px){
  .main__sort{
    flex-direction: column;
    align-items: start;
    font-size: 14px;
  }
}

@media (max-width: 350px){
  .main{
    margin-top: 10px;
  }

  
  .product__card img{
    height: 150px;
    width: 150px;
  }

  .product__inner{
    padding: 8px;
  }
}
