.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reg__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  margin-bottom: 40px;
}

.reg_button {
  opacity: 0.5;
  cursor: not-allowed;
  padding: 5px 24px;
  transition: opacity 0.2s;
}

.reg_button:not(.disabled) {
  opacity: 1;
  cursor: pointer;
}

.error {
  min-height: 16px;
  color: var(--red);
  font-size: 12px;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.success-message {
  background: var(--bg-succes);
  color: var(--text-succes);
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0;
  border: var(--border-succes);
  text-align: center;
  font-weight: 500;
}
