.main {
  margin-top: 30px;
  padding: 20px 100px;
}

.main__sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.main__sort p {
  font-size: 20px;
}

.main__sort select {
  border: var(--border);
  border-radius: var(--border-radius-input);
  padding: 5px;
}

.button_sort {
  display: none;
}

.main__inner {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
}

.main__filter {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg-white);
  width: 25%;
  padding: 20px;
  gap: 20px;
  height: 100%;
}

.main__filter p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.main__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.price__block {
  display: flex;
  column-gap: 10px;


}

.main__grid {
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg-white);
  width: 75%;
  padding: 50px;
  height: 100%;
}

.reset__button{
  height: 35px;
  width: 60%;
  margin: 0 auto;
}

.grid__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
