.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
  border-bottom: var(--border);
  background: var(--bg-white);
}

.header h1 {
  margin: 0;
  color: var(--red);
  font-family: "Space Grotesk", sans-serif;
}

.header__search {
  display: flex;
  gap: 10px;
}

.header__nav {
  position: relative;
}
.header__nav nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}

.header__nav img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.badge {
  position: absolute;
  top: -8px;
  right: -1px;
  background: var(--red);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__burger {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background: var(--bg-white);
  padding: 20px;
  border-bottom: var(--border-red);
  border-top: var(--border-red);
  z-index: 999;
  animation: slideDown 0.3s ease;
}

.nav_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--bg-failure);
  color: var(--text-failure);
  padding: 12px 20px;
  border-radius: 6px;
  border: var(--border-failure);
  z-index: 1000;
  animation: slideIn 0.3s ease;
}
